.post{
    @apply px-8 py-4 rounded-2xl transition-colors;

    background-color: var(--gray-100);

    &:hover{
        background-color: var(--gray-400);

        > header{
            border-bottom-color: var(--gray-700);
        }
    }

    > header{
        @apply pb-2;

        border-bottom: .1rem solid var(--gray-400);

        h1{
            @apply text-xl capitalize mb-1;
        }

        a{
            @apply text-sm hover:underline transition-colors transform-none;

            color: var(--gray-600);

            &:hover{
                color: var(--gray-800);
            }
        }
    }

    > section {
        @apply py-4;
    }
}